<div class="top-nav">
  <a class="menu-open" href="#">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
    </svg>
  </a>

  <h2><a href="/">Retreat of TBD</a></h2>
</div>

<div class="menu">
  <div class="content">
    <a class="menu-close" href="#">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
      </svg>
    </a>
    
    <h2><a href="/">Retreat of&nbsp;TBD</a></h2>

    <ul>
      {% for item in site.data.pages.all %}
      <li>
        {% if item.url %}
        <a href="{{ item.url }}"
          class="{% if item.url == page.url %}active{% endif %}">
          {{ item.title }}
        </a>
        {% else %}
        <span>{{ item.title }}</span>
        {% endif %}
        {% if item.children[0] %}
        <ul>
          {% for entry in item.children %}
          <li>
            <a href="{{ entry.url }}"
              class="{% if entry.url == page.url %}active{% endif %}">
              {{ entry.title }}
            </a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
