---
---

@import "{{ site.theme }}";

body {
  // background-color: black;
}

main.main-content {
  padding-left: 200px;
  position: relative;
  background-color: white;
  
  .menu {
    left: 0px;
    width: 200px;
    position: absolute;
    // color: white;
  }
}