<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}

  <body class="home">
    {% include menu.html %}

    <div class="hero-image">
      <div class="image" style="background-image: url('{{ page.hero-image }}');"></div>
      <div class="hero-text">
        <h1 class="page-name">{{ page.title }}</h1>
        <div class="event-description">{{ page.description }}</div>
        <div class="event-date">{{ page.date }}</div>
        <!-- <div class="event-location">{{ page.location }}</div> -->

        {% if page.call-to-action-link %}
          <a class="cta" href="{{ page.call-to-action-link }}" class="button">{{ page.call-to-action-text }}</a>
        {% endif %}
         
      </div>
    </div>

    <main id="content" class="main-content" role="main">
      {{ content }}

      {% include footer.html %}
    </main>
  </body>
</html>